
<h1 class="blue">@Bird.Name</h1>
<a href="@($"editbird/{Bird.Id}")" type="button" class="btn btn-primary blue">Edit</a>
<a type="button" class="btn alert-danger m-1" @onclick="() => DeleteBird(Bird.Id)">Delete</a>
<div class="detailscontainer">
    <div class="detailsflex">

        <img class="detailimage" src="@Bird.Image" />
        <div>
            <h2>@Bird.Name</h2>
            <p> Species: @Bird.Species</p>
            <p> Location: @Bird.Cage</p>
            <img class="genderimage" src="@SetGenderImage(Bird.Gender)" />
        </div>
    </div>

</div>


@code {

    @inject NavigationManager NavManager;
    [Parameter]
    public Bird Bird { get; set; }

    [Inject]
    public IBirdService birdService { get; set; }

    [Parameter]
    public Guid Id { get; set; }

    protected async override Task OnInitializedAsync()
    {
        Bird = await birdService.GetByIdAsync(Id);
    }

    private string SetGenderImage(string gender)
    {
        string imageSource = "";
        imageSource = gender.ToLower() == "male" ? "images/male.png" : "images/female.png";
        return imageSource;
    }

        private async void DeleteBird(Guid id)
    {
          var result =  await birdService.DeleteAsync(id);
          if (result) NavManager.NavigateTo("birds");
    }
}
