
<a href="@($"addcage")" type="button" class="btn submit">Add new</a>
<div class="maincontainer">
    <div class="itemscontainer">

        @foreach (var item in Cages)
        {
        <a href="@($"cagedetails/{item.Id}")">
            <div class="flexitem">
                <img class="itemimage" src="@item.Image" />
                <div>
                    <h2>@item.Name</h2>
                    <p>@item.Location</p>
                </div>

            </div>
        </a>
        }
    </div>
</div>

@code {


    [Parameter]
    public IEnumerable<Cage> Cages { get; set; } = new List<Cage>();

    [Inject]
    public ICageService cageService { get; set; }


    protected async override Task OnInitializedAsync()
    {
        Cages = await cageService.GetAllAsync();

    }
}