
<div class="flexContainer">
        <div>
            <div class="logoDiv">
            <img id="logo" src="~/images/logolight.png" alt="logo">
            </div>
            <div id="divLogIn">
                <h2>Sign in</h2>
                <EditForm  Model="@LoginModel" OnValidSubmit="@LogIn">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label>Email :</label>
                        <div>
                            <InputText @bind-Value="LoginModel.Email" class="form-control col-sm-3" />
                            <ValidationMessage For="@(() => LoginModel.Email)" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Password :</label>
                        <div>
                            <InputText @bind-Value="LoginModel.Password" class="form-control col-sm-3" />
                            <ValidationMessage For="@(() => LoginModel.Password)" />
                        </div>
                    </div>
                    <button id="btnSignIn" type="submit">Sign in</button>
                    
                    <div id="divSignUp"><span id="spMember">Not a member yet?</span><a id="btnSignUp" asp-controller="Auth" asp-action="Register">Sign up</a></div>
                    <div class="error">@ApiMessage</div> 
                </EditForm>
            </div>
        </div>
    </div>

@code {

    [Inject] 

    public IAuthApiService _authApiService { get; set; }

    @inject NavigationManager NavManager;

    [Parameter]

    public string ApiMessage { get; set; } = null;

    [Parameter]

    public LoginRequestModel LoginModel { get; set; } = new LoginRequestModel();





    private async Task LogIn()
    {

        string response = await _authApiService.Authenticate(LoginModel);
        if (response is object)
        {
            ApiMessage = response;
        }
        else
        {
            NavManager.NavigateTo("/");
        }
    }
 
  

}