@using Microsoft.AspNetCore.SignalR.Client
@using Newtonsoft.Json



@if (hasStarted)
{
        <div>@roomId</div>
    <div class="question"><h3>@question.Question</h3></div>
    <img class="questionImage" src="@question.Image">
    <div class="itemscontainer">

        @foreach (var answer in question.PossibleAnswers)
        {
            <button @onclick="() => AnswerPicked(answer.IsCorrect)" class="answer @(AddColor ? answer.IsCorrect ? "green" : "red" : "")">
                @answer.Text
            </button>
        }
    </div>
    <button @onclick="() =>  NextQuestion()" class="next @(Visibility ? "visible" : "invisible")" >Next</button>
}

else
{
   <div>Waiting for other player</div>
   <div>@roomId</div>
}



@*@if (!quizEnded)
{
    <div>@test</div>
    <div class="question"><h3>@question.Question</h3></div>
    <img class="questionImage" src="@question.Image">
    <div class="itemscontainer">

        @foreach (var answer in question.PossibleAnswers)
        {
            <button @onclick="() => AnswerPicked(answer.IsCorrect)" class="answer @(AddColor ? answer.IsCorrect ? "green" : "red" : "")">
                @answer.Text
            </button>
        }
    </div>
    <button @onclick="() =>  NextQuestion()" class="next @(Visibility ? "visible" : "invisible")" >Next</button>
}

else
{
    <QuizEndView Score="count"></QuizEndView>
}
*@

@code {
    string roomId = "nieks";



    [Inject]
    public  IRoomService _roomService { get; set; }

    [Parameter]
    public HubConnection connection { get; set; }

    public bool Visibility { get; set; }

    public bool AddColor { get; set; }

    public bool hasStarted;

    public void AddClassName()
    {
        AddColor = true;
    }
    void NextQuestion()
    {
        question =  ReturnQuestion();
        AddColor = false;
        Visibility = false;
    }

    private bool quizEnded = false;

    public int questionIndex = 0;
    private int count;

    [Inject]
    public IQuizService QuizService { get; set; }

    public List<QuizElement> questions  { get; set; }

    public QuizElement question { get; set; }


    protected async override Task OnInitializedAsync()
    {

        await base.OnInitializedAsync();
        connection.On<string>("OnJoin", (param) =>
        {
            roomId = param;
            StateHasChanged();
        });
        connection.On<string>("OnStart", (param) =>
        {

            questions = JsonConvert.DeserializeObject<List<QuizElement>>(param);
            hasStarted = true;
            question =  ReturnQuestion();
            StateHasChanged();
        });


    }

    List<int> askedQuestions = new List<int>();

    public QuizElement ReturnQuestion()
    {
        var question =  questions[questionIndex];
        questionIndex ++;
        return question;

    }


    public void AnswerPicked(bool isCorrect)
    {
        AddClassName();
        if (isCorrect) count += 1;
        Visibility = true;
    }

}



